* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #79a7e5 no-repeat;
    background-size: cover;
    background-position: center;
}

input[type="checkbox"] {
    display: none;
}

label .nav {
    height: 60px;
    width: 80px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    position: fixed;
    top: -7px;
    left: -20px;
border: 3px solid #fff;
    text-indent: 15px;
    cursor: pointer;
    z-index: 1;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background: #000;
    position: fixed;
    top: 0;
    width: 100%;
    transform: scaleX(1);
    transform-origin: left;
    transition: .4s;
}

ul li {
    padding: 15px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    background-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 100% 0%;
    transition: .5s;
}

ul li a:hover {
    background-size: 100% 100%;
    color: #000;
}

#navbar:checked ~ ul {
    transform: scaleX(0);
}

.asmr {
    position: absolute;
    top: 15%;
    left: 5%;
    transform: translate(-50% -50%);
    width: 700px;
}

.diplomatia {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50% -50%);
    color: #fff;
    font-family: Impact, sans-serif;
    font-size: 50px;
}

.button {
    position: absolute;
    top: 65%;
    left: 58%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Impact, sans-serif;
    font-size: 30px;
    border: 3px solid #fff;
    background: #00000000;
    padding: 10px 20px;
    transition: .3s;
}

.button:hover {
    transform: translate(-50%, -60%);
}

.cotojest {
    position: absolute;
    top: 100%;
    left: 37%;
    transform: translate(-50% -50%);
    color: #fff;
    font-family: Impact, sans-serif;
    font-size: 50px;
}

.flagaa {
    position: absolute;
    top: 135%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.coto {
    position: absolute;
    top: 135%;
    left: 67%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    white-space: nowrap;
}

.diplomatycznosc {
    position: absolute;
    top: 155%;
    left: 35%;
    transform: translate(-50% -50%);
    color: #fff;
    font-family: Impact, sans-serif;
    font-size: 50px;
}

.hrymska {
    position: absolute;
    top: 205%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.chrymska {
    position: absolute;
    top: 227%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    white-space: nowrap;
}

.lystonija {
    position: absolute;
    top: 205%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.listonija {
    position: absolute;
    top: 227%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    white-space: nowrap;
}

.erykistija {
    position: absolute;
    top: 205%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.erikistija {
    position: absolute;
    top: 227%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    white-space: nowrap;
}

.wfd {
    position: absolute;
    top: 250%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.vfd {
    position: absolute;
    top: 270%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    white-space: nowrap;
}

.silend {
    position: absolute;
    top: 250%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.cilend {
    position: absolute;
    top: 270%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    white-space: nowrap;
}

.batikanstan {
    position: absolute;
    top: 250%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.batikanstank {
    position: absolute;
    top: 270%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    white-space: nowrap;
}

.polys {
    position: absolute;
    top: 295%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.polis {
    position: absolute;
    top: 318%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    white-space: nowrap;
}

.lisopilja {
    position: absolute;
    top: 295%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 550px;
    border: 5px solid #000000;
}

.lesopolje {
    position: absolute;
    top: 318%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    white-space: nowrap;
}

.lirijan {
    position: absolute;
    top: 295%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.lirian {
    position: absolute;
    top: 318%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    white-space: nowrap;
}

.almastrawija {
    position: absolute;
    top: 340%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.almastrawia {
    position: absolute;
    top: 360%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    white-space: nowrap;
}

.wunr {
    position: absolute;
    top: 340%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.wynr {
    position: absolute;
    top: 360%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    white-space: nowrap;
}

.beritija {
    position: absolute;
    top: 340%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 480px;
}

.beritia {
    position: absolute;
    top: 360%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    white-space: nowrap;
}

.blawenija {
    position: absolute;
    top: 390%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.blawenia {
    position: absolute;
    top: 414%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    white-space: nowrap;
}

.wejhskow {
    position: absolute;
    top: 390%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.wejchskow {
    position: absolute;
    top: 412%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    white-space: nowrap;
}

.winycka {
    position: absolute;
    top: 390%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.winucka {
    position: absolute;
    top: 412%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    white-space: nowrap;
}

.romdanija {
    position: absolute;
    top: 440%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.romdania {
    position: absolute;
    top: 463%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    white-space: nowrap;
}

.czuncyn {
    position: absolute;
    top: 440%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.czyncun {
    position: absolute;
    top: 463%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    white-space: nowrap;
}

.hortynska {
    position: absolute;
    top: 440%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.hortunska {
    position: absolute;
    top: 457%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    white-space: nowrap;
}

.note {
    position: absolute;
    top: 475%;
    left: 12%;
    transform: translate(-50% -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    white-space: nowrap;
}
