* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url(img/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

input[type="checkbox"] {
    display: none;
}

label .nav {
    height: 60px;
    width: 80px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    position: fixed;
    top: -7px;
    left: -20px;
    border: 3px solid #fff;
    text-indent: 15px;
    cursor: pointer;
    z-index: 1;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background: #000;
    position: fixed;
    top: 0;
    width: 100%;
    transform: scaleX(1);
    transform-origin: left;
    transition: .4s;
}

ul li {
    padding: 15px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    background-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 100% 0%;
    transition: .5s;
}

ul li a:hover {
    background-size: 100% 100%;
    color: #000;
}

#navbar:checked ~ ul {
    transform: scaleX(0);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Impact, sans-serif;
    font-size: 70px;
}

.button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Impact, sans-serif;
    font-size: 30px;
    border: 3px solid #fff;
    background: #00000000;
    padding: 10px 20px;
    transition: .3s;
}

.button:hover {
    transform: translate(-50%, -60%);
}

.second {
    height: 200vh;
    width: 200vh;
    background: #cfe6ff
    background-repeat: no-repeat;
}

.info {
    position: absolute;
    top: 105%;
    left: 30%;
    font-size: 50px;
    color: #150e60;
}

.name {
    position: absolute;
    top: 140%;
    left: 15%;
    font-size: 50px;
    color: #150e60;
}

.flag {
    position: absolute;
    top: 140%;
    left: 42%;
    font-size: 50px;
    color: #150e60;
}

.symbol {
    position: absolute;
    top: 140%;
    left: 75%;
    font-size: 50px;
    color: #150e60;
}

.bizantyne {
    position: absolute;
    top: 170%;
    left: 22%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: #150e60;
    text-align: center;
}

.flaga {
    position: absolute;
    top: 170%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}

.symbolika {
    position: absolute;
    top: 170%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 250px;
}

.third {
    height: 100vh;
    width: 200vh;
    background: #473dc6;
    background-repeat: no-repeat;
}

.km {
    position: absolute;
    top: 215%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #fff;
}

.co {
    position: absolute;
    top: 260%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: #fff;
}

.fourth {
    height: 100vh;
    width: 200vh;
    background: #c3c0ee;
    background-repeat: no-repeat;
}

.capital {
    position: absolute;
    top: 315%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #fff;
}

.stolica {
    position: absolute;
    top: 360%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    border: 2px solid #fff;
}

.kt {
    position: absolute;
    top: 385%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
    font-style: italic;
}

.wk {
    position: absolute;
    top: 400%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: #fff;
}

.links {
    height: 50vh;
    width: 200vh;
    background: #1cb51e;
    background-repeat: no-repeat;
}

.suspilne {
    position: absolute;
    top: 413%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
}

.telegram {
    position: absolute;
    top: 440%;
    left: 33%;
    transform: translate(-50%, -50%);
}

.ayugram {
    position: absolute;
    top: 440%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: #fff;
    font-style: underline;
    cursor: pointer;
    padding: 10px 20px;
    transition: .3s;
}

.ayugram:hover {
    background: #fff;
    color: #000;
}