* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #150e60 no-repeat;
    background-size: cover;
    background-position: center;
}

input[type="checkbox"] {
    display: none;
}

label .nav {
    height: 60px;
    width: 80px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    position: fixed;
    top: -7px;
    left: -20px;
    border: 3px solid #fff;
    text-indent: 15px;
    cursor: pointer;
    z-index: 1;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background: #000;
    position: fixed;
    top: 0;
    width: 100%;
    transform: scaleX(1);
    transform-origin: left;
    transition: .4s;
}

ul li {
    padding: 15px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    background-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 100% 0%;
    transition: .5s;
}

ul li a:hover {
    background-size: 100% 100%;
    color: #000;
}

#navbar:checked ~ ul {
    transform: scaleX(0);
}

.asmr {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 700px;
}

.viki {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 70px;
    font-style: bold;
}

.button {
    position: absolute;
    top: 65%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Impact, sans-serif;
    font-size: 30px;
    border: 3px solid #fff;
    background: #00000000;
    padding: 10px 20px;
    transition: .3s;
}

.button:hover {
    transform: translate(-50%, -60%);
}

.wszystko {
    height: 100vh;
    width: 200vh;
    background: #150e60;
    background-repeat: no-repeat;
}

.glowne1 {
    position: absolute;
    top: 100%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Impact, sans-serif;
    font-size: 40px;
}

.info1 {
    position: absolute;
    top: 107%;
    left: 5%;
    font-size: 15px;
    color: #fff;
}

.glowne2 {
    position: absolute;
    top: 100%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Impact, sans-serif;
    font-size: 40px;
    white-space: nowrap;
}

.info2 {
    position: absolute;
    top: 107%;
    left: 59%;
    font-size: 15px;
    color: #fff;
}

.glowne3 {
    position: absolute;
    top: 128%;
    left: 69%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Impact, sans-serif;
    font-size: 40px;
}

.info3 {
    position: absolute;
    top: 135%;
    left: 59%;
    font-size: 15px;
    color: #fff;
}

.krest {
    position: absolute;
    top: 140%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 140px;
}

.glowne4 {
    position: absolute;
    top: 160%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Impact, sans-serif;
    font-size: 40px;
}

.info4 {
    position: absolute;
    top: 167%;
    left: 4%;
    font-size: 15px;
    color: #fff;
}

.zsrb {
    position: absolute;
    top: 179%;
    left: 33%;
    transform: translate(-50%, -50%);
    width: 140px;
}

.glowne5 {
    position: absolute;
    top: 163%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Impact, sans-serif;
    font-size: 40px;
    white-space: nowrap;
}

.info5 {
    position: absolute;
    top: 168%;
    left: 57%;
    font-size: 15px;
    color: #fff;
}

.glowne6 {
    position: absolute;
    top: 200%;
    left: 16%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Impact, sans-serif;
    font-size: 40px;
}

.info6 {
    position: absolute;
    top: 210%;
    left: 4%;
    font-size: 15px;
    color: #fff;
}

.glowne7 {
    position: absolute;
    top: 185%;
    left: 67%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Impact, sans-serif;
    font-size: 40px;
}

.info7 {
    position: absolute;
    top: 190%;
    left: 57%;
    font-size: 15px;
    color: #fff;
}

.flagi {
    position: absolute;
    top: 207%;
    left: 78%;
    transform: translate(-50%, -50%);
    width: 230px;
}

.gerb {
    position: absolute;
    top: 207%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 185px;
}

.kulturabizantyne {
    position: absolute;
    top: 230%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Impact, sans-serif;
    font-size: 40px;
    white-space: nowrap;
}

.kultura {
    position: absolute;
    top: 260%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 11px;
}

.polnaya {
    position: absolute;
    top: 295%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Impact, sans-serif;
    font-size: 40px;
    white-space: nowrap;
}

.map {
    position: absolute;
    top: 325%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Impact, sans-serif;
    font-size: 40px;
}

.moreafter {
    position: absolute;
    top: 350%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Impact, sans-serif;
    font-size: 40px;
}